.benefits
	min-height: 590px
	padding: 58px 0 52px 0
	background-color: #f3f3f3

	&__header
		@include header-style
		margin-bottom: 32px
		
	&__wrapper
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		position: relative
		left: 75px
		
		
	&__items
		display: inline-block
		width: 505px
		padding-bottom: 35px 
		position: relative
	&__icons
		position: absolute
		left: -80px
	
	&__subheader
		@include img-subheader
	
	&__descr
		@include img-descr
