.header
	display: flex
	justify-content: space-between
	margin-top: 23px
	

	
	
	&__logo
		width: 96px	
	
	&__feedback
		display: flex
		flex-direction: row
		margin-top: 28px

		&_contact
			display: flex
			flex-direction: column
			align-items: flex-end
			color: #ffffff
			margin-right: 19px
			font-weight: 200
			
			a
				font-size: 19px
				font-weight: 400
				text-decoration: none
				color: #fff
	
	&__menu
		width: 600px
		display: flex
		justify-content: space-between
		margin-top: 37px
		opacity: 0.8
		
		&_items
			text-decoration: none
			color: #fff
			font-size: 15px
			font-weight: 100
	
