.jobs
	min-height: 625px
	padding: 51px 0 57px 0
	hr
		width: 148px
		height: 1px
		background-color: $main-color
		border: none
		margin: 20px auto 17px auto

	&__header
		@include header-style
		margin: 0 auto 


	
	&__subheader
		@include subheader-style
		max-width: 879px
		margin: 0 auto 

	&__blocks
		display: inline-flex
		flex-direction: column
		align-items: center
		justify-content: space-between
		margin: 37px 26px 57px 0
		
		&:last-child	
			margin: 0
				

	&__img
		max-width: 360px
		max-height: 210px
		

	&__header-descr
		@include img-subheader
		font-size: 18px

	&__descr
		@include img-descr
		max-width: 359px
		text-align: justify
		text-align-last: center		
