@mixin header-style
	color: #2e2e2e
	font-family: 'Roboto', sans-serif;
	font-size: 26px
	font-weight: 700
	font-style: normal
	letter-spacing: normal
	text-align: center
	text-transform: uppercase

@mixin subheader-style
	color: #2e2e2e
	font-family: 'Roboto', sans-serif;
	font-size: 21px
	font-weight: 300
	letter-spacing: -0.25px
	line-height: 24px
	text-align: center
	font-style: normal
	margin: 0 auto


@mixin img-subheader
	color: #ec644b
	font-family: 'Roboto', sans-serif;
	font-size: 16px
	font-weight: 700

@mixin img-descr
	width: 447px
	color: #3a3a3a
	font-family: 'Roboto', sans-serif;
	font-size: 14px
	font-weight: 400
	font-style: normal
	letter-spacing: -0.2px
	line-height: 22px

    
    