@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;700&display=swap");
.container {
  max-width: 1140px;
  margin: 0 auto;
}

* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  margin: 0;
}

.promo {
  min-height: 680px;
  padding: 23px 0 42px 0;
  background: url("../img/header_main.jpg") center center/cover no-repeat;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 43px;
}

.promo__text {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  opacity: 0.8;
}

.promo__header {
  color: #ec644b;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 72px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.promo__subheader {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 42px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  margin-top: 9px;
}

.promo__line {
  margin: 38px 0 35px 0;
}

.promo__features_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
  flex-direction: row;
}

.promo__block {
  align-self: baseline;
  position: relative;
}

.promo__block img {
  display: block;
  margin: 0 auto;
}

.promo__descr {
  width: 248px;
  height: 59px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 22px;
  text-align: center;
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  position: relative;
}

.header__logo {
  width: 96px;
}

.header__feedback {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
}

.header__feedback_contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  margin-right: 19px;
  font-weight: 200;
}

.header__feedback_contact a {
  font-size: 19px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

.header__menu {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
  opacity: 0.8;
  margin-bottom: -10px;
}

.header__menu_line {
  position: relative;
  border: none;
  border-right: 0.5px dotted #fff;
  height: 23px;
  opacity: 0.4;
  top: -5px;
}

.header__menu_items {
  height: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  position: relative;
}

.header__menu_items:hover {
  text-decoration: none;
  color: #ec644b;
  border-bottom: 20px solid;
  border-width: 2px;
  padding-bottom: 25px;
}

.button {
  width: 160px;
  height: 45px;
  background-color: #ec644b;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.button:hover {
  background-color: #dc5238;
}

.button_main {
  display: block;
  margin: 62px auto 105px auto;
  width: 230px;
  height: 57px;
  font-size: 15px;
  font-weight: 700;
}

.button_prices {
  align-self: center;
  margin: 25px 0 25px 0;
}

.benefits {
  min-height: 590px;
  padding: 58px 0 52px 0;
  background-color: #f3f3f3;
}

.benefits__header {
  color: #2e2e2e;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.benefits__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  left: 75px;
}

.benefits__items {
  display: inline-block;
  width: 505px;
  padding-bottom: 35px;
  position: relative;
}

.benefits__icons {
  position: absolute;
  left: -80px;
}

.benefits__subheader {
  color: #ec644b;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.benefits__descr {
  width: 447px;
  color: #3a3a3a;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.2px;
  line-height: 22px;
}

.jobs {
  min-height: 625px;
  padding: 51px 0 57px 0;
}

.jobs__blocks {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 37px 26px 57px 0;
}

.jobs__blocks:last-child {
  margin: 0;
}

.jobs__img {
  max-width: 360px;
  max-height: 210px;
}

.jobs__header-descr {
  color: #ec644b;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-size: 18px;
}

.jobs__descr {
  width: 447px;
  color: #3a3a3a;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.2px;
  line-height: 22px;
  max-width: 359px;
  text-align: justify;
  text-align-last: center;
}

.agent {
  min-height: 342px;
  background: url("../img/china-agent.jpg") center center/cover no-repeat;
}

.agent__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 58px 0 75px 0;
}

.agent__header {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 700;
  opacity: 0.9;
  margin: 20px 0 22px 0;
}

.agent__subheader {
  width: 984px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  opacity: 0.7;
}

.prices {
  min-height: 950px;
  padding: 53px 0 58px 0;
}

.prices__cards {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 265px;
  height: 355px;
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
  margin-right: 22px;
}

.prices__cards:last-child {
  margin: 0;
}

.prices__cards_header {
  width: 261px;
  height: 61px;
  background-color: #25333c;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 61px;
}

.prices__cards_logo {
  width: 60px;
  height: 52px;
  align-self: center;
}

.prices__cards_subheader {
  color: #2e2e2e;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 27px;
}

.prices__cards_subheader span {
  color: #ec644b;
  font-size: 28px;
  text-transform: none;
}

.prices__cards_descr {
  position: relative;
  width: 212px;
  color: #2e2e2e;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  left: 26px;
}

.prices__consult-subheader {
  margin-top: 56px;
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.prices__consult-feed {
  margin-top: 71px;
  display: flex;
  flex-direction: column;
  width: 1140px;
  height: 166px;
  border: 0.5px solid #ebebeb;
  position: relative;
}

.prices__consult-feed_logo {
  position: absolute;
  display: flex;
  width: 102px;
  height: 102px;
  align-self: center;
  top: -55px;
  background-color: #fff;
}

.prices__consult-feed_form {
  position: absolute;
  margin-top: 20px;
  display: inline-block;
  padding-left: 165px;
  bottom: 0px;
}

.prices__consult-feed_form input {
  width: 268px;
  height: 45px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  background-color: #ffffff;
  border-radius: 25px;
}

.prices__consult-feed_form button {
  display: block;
  margin-top: 20px;
  left: 325px;
  top: 25px;
}

.mod-header hr {
  width: 148px;
  height: 1px;
  background-color: #ec644b;
  border: none;
  margin: 20px auto 17px auto;
}

.mod-header__header {
  color: #2e2e2e;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.mod-header__subheader {
  color: #2e2e2e;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: -0.25px;
  line-height: 24px;
  text-align: center;
  font-style: normal;
  margin: 0 auto;
  max-width: 879px;
  margin: 0 auto;
}

.mod-header_prices {
  margin-bottom: 32px;
}

.scheme {
  min-height: 454px;
  padding: 40px 0 17px 0;
}

.scheme__header {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.scheme__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scheme__items {
  width: 261px;
  height: 150px;
  margin-right: 24px;
  margin-bottom: 35px;
}

.scheme__icons {
  display: block;
  margin: 0 auto;
}

.scheme__subheader {
  color: #ec644b;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.scheme__descr {
  width: 447px;
  color: #3a3a3a;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.2px;
  line-height: 22px;
  width: 261px;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */